{% extends 'BlogBundle:Default:base.html.twig' %}
{% block title %}Edit post{% endblock %}
{% block posts %}
    <h1>New Post</h1>

    {{ form_start(editform) }}
    {{ form_widget(editform) }}
    <input type="submit" value="Add post." class="btn btn-primary"/>
    {{ form_end(editform) }}

{% endblock %}
{% block sidebar %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <a href="{{ path('login') }}" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-user"></span>
            Login</a>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(deleteform) }}
        {{ form_widget(deleteform) }}
       <button type="submit" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete post</button>
        {{ form_end(deleteform) }}
        <br />
        <a href="{{ path('logout') }}" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-off"></span>
            Logout</a>
    {% endif %}
{% endblock %}

