        {% for entry in posts %}
            <a href="{{ path('show_post', { id: entry.id }) }}">
                <h2> {{ entry.title }}</h2>
            </a>
        <p class="small">Author: {{ entry.user.username }}</p>
        <p class="small">Added: {{ entry.added|date('d-m-Y H:i:s') }}</p>
        <p>{{ entry.postcontent }}</p>
        {% endfor %}
        {% block adminpanel %}{% endblock %}
